@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Poppins:wght@200;300;400;500;700&display=swap');
:root {
    --cor-fundo:#EBECEE;
    --branco:#FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade:linear-gradient(90deg, #002f52 0%, #326589 100%);
    --fonte-principal: "poppins";
    --azul:#002F52;
    --preto:#000000;
    --fonte-secundaria:"Josefin Sans";
    --cinza: #474646;

}
body {
    background-color:var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}