

.carrosel__titulo{
    background: var(--branco);
    color: var(--laranja);
    text-align: center;
    padding: 1em 0 0.5em 0;
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.swiper-wrapper img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.card__botões {
    display: flex;
    justify-content: space-between;
}

.botões {
    display: flex;
}

.card {
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.descrição__titulo {
    color: var(--laranja);
    font-weight: 700;
    line-height: 1.6;
}

.descrição__titulo__livro {
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.8em 0;
    line-height: 1.6;
}

.livro__descrição {
    color: var(--preto);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}

.botões__ancora {
    background-color: var(--laranja);
    padding: 1.2em 2.2em 0.1em;
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .carrosel__titulo{
        padding: 2em 0 1em 0;
        font-size: 26px;
    }

    .swiper{
        width: 70%;
        position: relative;
    }

    .swiper-wrapper img {
        width: 70%;
        margin-left: 2em;
        
    }

    .swiper-pagination{
        margin: 2em 0 4em 0;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
    }

    .card{
        width: 50%;
        margin: 2em auto;
    }
}

@media screen and (min-width: 1728px){
    .carrosel__container{
        display: flex;
        margin: 4em 10vw 4em 10vw;
        align-items: center;
        gap: 7em;
    }
    
    .swiper-pagination{
        margin: 1em 0;
    }

    .swiper{
        width: 80%;
    }

    .swiper-wrapper img {
        width: 78%;
        margin-left: 2em;
        
    }

    .card{
        width: 60%;
        margin-top: 5em;
    }

    .descrição__titulo{
        font-size: 32px;
        margin-right: 2em;
    }

    .livro__descrição{
        font-size: 16px;
    }
}