.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer{
    background-image: url("../img/menubranco.svg");
}

.container__botao:checked~.container__rotulo{
    background: var(--azul-degrade);
}
.container__rotulo {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cabecalho {
    background-color: var(--branco-);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.5em;
    background-repeat: no-repeat;
    background-position: center;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}

.container__botao:checked~.lista__menu {
    display: block;
}

.lista__menu__titulo, .lista__menu__itens {
    background-color: var(--branco);
    color: var(--laranja);
    padding: 1em;
    font-size: 16px;
    font-weight: 700;
}

.lista__menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}


@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked~.lista__menu {
        display: block;
        width: auto;
    }
    
    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo> .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item{
        padding: 2em 1em;
    }

    .lista__menu__itens:hover{
        background: var(--azul-degrade);
    }

    .lista__menu__itens:hover>.lista__menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}


@media screen and (min-width: 1728px){

    .container__texto{
        display: block;
    }

    
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container__texto{
        padding: 0 1em;
    }

    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: 30em;
    }
}