hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
    
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px){

    .lista-rodape{
        display: block;
    }

    .rodape{
        display: flex;
        justify-content: space-around;
    }
    .lista-rodape__item{
        display: flex;
        align-items: center;
        padding: 0.4em;
        font-family: var(--fonte-principal);
        font-size: 14px;
    }

    .lista-rodape__link{
        color: var(--cinza);
        text-decoration: none;
        margin-left: 1em;
    }

    .lista-rodape__titulo{
        text-transform: uppercase;
        padding: 2em 0 2em 0;
    }

    .rodape__titulo{
        font-size: 24px;
        padding: 2em 0 2em 0;
    }
}

@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza);
        padding-left: 1em ;
    }

    .rodape{
        padding: 3em 0;
    }

    .rodape__titulo{
        padding: 0;
    }

    .lista-rodape__titulo{
        padding: 0;
    }
}