.topicos {
    background: var(--azul);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    text-align: center;
    font-weight: 300;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__itens {
    margin: 2em 0.5em;
}

.topicos__links {
    color: var(--branco);
    padding: 1em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px){
    .topicos__titulo{
        font-size: 24px;
        margin: 1em 1em;
    }

    .topicos__itens{
        margin: 2%;
        display: flex;
    }
    .topicos__links{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px){

    .topicos__titulo{
        font-size: 32px;
    }
    
    .topicos{
        padding: 3em 25vw;
        font-size: 24px;
    }
}